---
layout: pages/default
---

<div class="half left">

	{{ content }}

	<form name="lingen-kontakt"  method="POST" data-netlify="true" action="/kontakt-sendt" accept-charset="UTF-8">
		<p class="hidden">
		  <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
		</p>

		<input id="name" type="text" name="Name" value="" placeholder="FULLT NAVN" required>

		<input id="email" type="email" name="Email" value="" placeholder="E-POST" required>

		<input id="subject" type="text" name="subject" value="" placeholder="EMNE" required>

		<textarea rows="10" cols="40" id="message" name="message" placeholder="BESKJED" required></textarea>

		<input type="submit" value="Send">
	</form>
</div>
<div class="half right">
	<h2>Adresse og kart</h2>

	{% include contact-info.html %}

	<img src="/assets/img/kart.png" alt="">
</div>