<!doctype html>
<html lang="nb-NO">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Ruben Leikarnes">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="theme-color" content="#222">

	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="dns-prefetch" href="//google-analytics.com">
	<link rel="dns-prefetch" href="//use.typekit.net">

	<link rel="stylesheet" href="/assets/css/app.css">
	<link rel="stylesheet" href="https://use.typekit.net/ceo7inq.css">
	<script src="/assets/vendor/jquery-3.3.1.slim.min.js"></script>
	<script src="/assets/vendor/bootstrap-images.js"></script>
</head>
<body>

<div class="header">
	<div class="island">
		<a href="/" class="header-logo" alt="{{ site.title }}">
			{% assign logo =  site.logo %}
			{% if logo %}
				<img src="{{ logo }}" alt="{{ site.title }}">
			{% endif %}
		</a>
		<nav class="nav clearfix">
			<li class="menu-item nav-toggle" onclick="toggle_visibility('menu');">
				<a href="#" class="menu-link">&#9776;</a>
			</li>
			<ul class="menu" id="menu">
				{%- for item in site.data.navigation %}
					<li class="menu-item"><a class="menu-link {% if item.link == page.url %}nav-active{% endif %}" href="{{ item.link }}">{{ item.name }}</a></li>
				{%- endfor %}
			</ul>
		</nav>
	</div>
</div>


{{ content }}

<div class="footer">
	<div class="island clearfix">
		{% if logo %}
			<a href="/" class="footer-logo" alt="{{ siteName }}">
				<img src="{{ logo }}" alt="{{ site.title }}">
			</a>
		{% endif %}

		<div class="footer-widget-address">
			{% include contact-info.html %}
		</div>

		<div class="footer-widget-partners">
			{% include main-partner.html %}
		</div>
	</div>
</div>
<script src="/assets/js/instafeed.min.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/instant.page.js" type="module"></script>
</body>
</html>
