.referances {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem;

	&-item {
		width: 33.33%;
		padding: 0 1rem 2rem 1rem;
	}

	&-link {
		color: $green;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}