.footer {
	background: $green;
	padding: 2.5rem 0;

	h1,h2,h3,h4,h5 {
		color: $black;
	}

	&-logo {
		margin-top: 1rem;
		float: left;
		width: 25%;

		img {
			width: 175px;
		}
	}
}

.footer-widget-address {
}
.footer-widget-partners {
}