.ansatte {
	&-list {
		margin: 5rem 0;
		list-style: none;
		padding-left: 0;
		text-align: center;

		@include mq($from: tablet) {
			text-align: inherit;
		}
	}

	&-item {
		display: inline-block;
		text-align: center;

		@include mq($from: tablet) {
			margin-right: 3rem;

			&:last-of-type {
				margin-right: 0;
			}
		}

		h4 {
			color: $black;
			line-height: 1.5;
			margin: 0;
		}
		p {
			line-height: 1.5;
			margin: 0;
		}
	}
}