.footer {
	background: $green;
	padding: 2.5rem 0;

	h1,h2,h3,h4,h5 {
		color: $black;
	}

	&-logo {
		display: block;
		margin: 1rem auto;
		width: 175px;

		@include mq($from: tablet) {
			float: left;
			text-align: inherit;
			margin: 1rem 0 0;
			width: 25%;
		}

		img {
			width: 175px;
		}
	}
}

.footer-widget-address {
	text-align: center;

	@include mq($from: tablet) {
		float: left;
		text-align: inherit;
	}
}

.footer-widget-partners {
	text-align: center;

	@include mq($from: tablet) {
		float: right;
		text-align: inherit;
	}
}