.referances {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem;

	&-item {
		width: 100%;
		padding: 0 1rem 2rem 1rem;

		@include mq($from: mobile, $until: tablet) {
			width: 50%;
		}

		@include mq($from: tablet) {
			width: 33.33%;
		}
	}

	&-link {
		color: $green;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}